# Copy to .env and fill in secret credentials before running: make apply

POSTGRES_PASSWORD=update_to_your_secret_value
CODER_OIDC_CLIENT_SECRET=update_to_your_secret_value


COMMON_ACME_DNS_PASSWORD=update_to_your_secret_value
COMMON_ACME_DNS_FULLDOMAIN=update_to_your_secret_value
COMMON_ACME_DNS_SUBDOMAIN=update_to_your_secret_value


CODER_ACME_DNS_PASSWORD=update_to_your_secret_value
CODER_ACME_DNS_FULLDOMAIN=update_to_your_secret_value
CODER_ACME_DNS_SUBDOMAIN=update_to_your_secret_value

CLOUDFLARE_TUNNEL_TOKEN=update_to_your_secret_value


HERMES_API_SERVER_KEY=update_to_your_secret_value
HERMES_DASHBOARD_OIDC_CLIENT_SECRET=update_to_your_secret_value


OPENCLAW_GATEWAY_TOKEN=update_to_your_secret_value

LITELLM_MASTER_KEY=update_to_your_secret_value
LITELLM_DB_PASSWORD=update_to_your_secret_value
LITELLM_OIDC_CLIENT_SECRET=update_to_your_secret_value

ECLIPSE_CHE_OIDC_CLIENT_SECRET=update_to_your_secret_value

# OmniRoute Sensitive Credentials (will be created as kubernetes secrets in OMNIROUTE_NAMESPACE)
# OMNIROUTE_LOCAL_ENDPOINTS_TOKEN=update_to_your_secret_value
# OPENAI_API_KEY=update_to_your_secret_value
# ANTHROPIC_API_KEY=update_to_your_secret_value
# GEMINI_API_KEY=update_to_your_secret_value
# DEEPSEEK_API_KEY=update_to_your_secret_value

FAS_SHARED_SECRET=update_to_your_secret_value
