ingress:
  enabled: true
  hosts:
    - host: {{ .Values.bifrost.domain | quote }}
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: {{ .Values.tls.commonSecretName | quote }}
      hosts:
        - {{ .Values.bifrost.domain | quote }}
