replicaCount: {{ .Values.browser.replicaCount }}

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  className: {{ dig "ingress" "className" "traefik" .Values | quote }}
  domain: {{ .Values.browser.domain | quote }}
  annotations: {}

fas:
  enabled: true
  namespace: {{ .Values.browser.fas.namespace | quote }}
  middlewareName: {{ .Values.browser.fas.middlewareName | quote }}
  sharedSecret: {{ env "FAS_SHARED_SECRET" | default "" | quote }}

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 50m
    memory: 128Mi

networkPolicy:
  enabled: {{ dig "browser" "networkPolicy" "enabled" true .Values }}
  ingressFrom:
    - namespaceLabels:
        kubernetes.io/metadata.name: {{ dig "ingress" "namespace" "kube-system" .Values | quote }}
      podLabels:
        app.kubernetes.io/name: "envoy"
    - namespaceLabels:
        kubernetes.io/metadata.name: {{ dig "ingress" "namespace" "kube-system" .Values | quote }}
      podLabels:
        app.kubernetes.io/name: "traefik"
  dnsNamespaceLabels:
    kubernetes.io/metadata.name: "kube-system"
  privateCidrsExcept:
    - "10.0.0.0/8"
    - "172.16.0.0/12"
    - "192.168.0.0/16"
    - "100.64.0.0/10"
    - "169.254.0.0/16"
