tls:
  commonSecretName: {{ .Values.tls.commonSecretName | quote }}
  commonWildcardDomain: {{ .Values.tls.commonWildcardDomain | quote }}
  coderSecretName: {{ .Values.tls.coderSecretName | quote }}
  coderWildcardDomain: {{ .Values.tls.coderWildcardDomain | quote }}
