replicaCount: {{ .Values.omniroute.replicaCount }}

ingress:
  enabled: true
  className: "envoy"
  dashboardHost: {{ .Values.omniroute.domain | quote }}
  apiHost: {{ .Values.omniroute.apiDomain | quote }}
  dashboardAnnotations: {}
  apiAnnotations: {}

tls:
  commonSecretName: {{ .Values.tls.commonSecretName | quote }}
  commonWildcardDomain: {{ .Values.tls.commonWildcardDomain | quote }}

mtls:
  enabled: {{ .Values.omniroute.mtlsEnabled }}

env:
  NODE_ENV: "production"
  PORT: "20128"
  DASHBOARD_PORT: "20128"
  API_PORT: "20129"
  LIVE_WS_PORT: "20132"
  LIVE_WS_HOST: "0.0.0.0"
  API_HOST: "0.0.0.0"
  HOSTNAME: "0.0.0.0"
  DATA_DIR: "/app/data"
  REDIS_URL: {{ printf "redis://valkey.%s.svc.cluster.local:6379" .Values.valkey.namespace | quote }}
  LIVE_WS_ALLOWED_ORIGINS: {{ printf "https://%s" .Values.omniroute.domain | quote }}
  REQUIRE_API_KEY: {{ .Values.omniroute.requireApiKey | quote }}


existingSecret: "omniroute-secrets"

resources:
  limits:
    memory: 1Gi
  requests:
    cpu: 200m
    memory: 512Mi

networkPolicy:
  enabled: {{ .Values.omniroute.networkPolicy.enabled }}

