auth:
  username: {{ .Values.postgresql.auth.username | quote }}
  password: {{ .Values.postgresql.auth.password | quote }}
  database: {{ .Values.postgresql.auth.database | quote }}

primary:
  persistence:
    enabled: true
    size: 10Gi
    storageClass: "micro-nfs"
  resources:
    limits:
      ephemeral-storage: 2Gi
      memory: 512Mi
    requests:
      cpu: 50m
      ephemeral-storage: 50Mi
      memory: 128Mi

architecture: standalone
