helmDefaults:
  wait: true
  timeout: 900
  atomic: true

repositories:
  - name: jetstack
    url: https://charts.jetstack.io
  - name: bitnami
    url: https://charts.bitnami.com/bitnami
  - name: coder-v2
    url: https://helm.coder.com/v2
  - name: traefik
    url: https://traefik.github.io/charts
  - name: autoscaler
    url: https://kubernetes.github.io/autoscaler
  - name: metrics-server
    url: https://kubernetes-sigs.github.io/metrics-server/

environments:
  default:
    values:
      - environments/default.yaml.gotmpl

---
releases:

  - name: metrics-server
    namespace: kube-system
    chart: metrics-server/metrics-server
    version: 3.13.1
    values:
      - values/metrics-server.yaml

  # Cluster Autoscaler only for OKE clusters
  - name: cluster-autoscaler
    namespace: kube-system
    chart: autoscaler/cluster-autoscaler
    version: 9.58.0
    values:
      - values/cluster-autoscaler.yaml.gotmpl

  - name: traefik
    namespace: kube-system
    chart: traefik/traefik
    version: 41.0.2
    values:
      - values/traefik.yaml


  - name: cert-manager
    namespace: cert-manager
    createNamespace: true
    chart: jetstack/cert-manager
    version: v1.21.0
    values:
      - values/cert-manager.yaml

  - name: postgresql
    namespace: {{ .Values.postgresql.namespace | quote }}
    createNamespace: true
    chart: bitnami/postgresql
    version: 18.8.0
    values:
      - values/postgresql.yaml.gotmpl
    needs:
      - cert-manager/cert-manager
      - kube-system/micro-nfs



  - name: platform
    namespace: coder
    chart: ./charts/platform
    values:
      - values/platform.yaml.gotmpl
    needs:
      - cert-manager/cert-manager
      - {{ .Values.postgresql.namespace }}/postgresql

  - name: coder
    namespace: coder
    chart: coder-v2/coder
    version: 2.35.2
    values:
      - values/coder.yaml.gotmpl
    needs:
      - platform
      - {{ .Values.postgresql.namespace }}/postgresql

  - name: micro-nfs
    namespace: kube-system
    chart: ./charts/micro-nfs
    values:
      - values/micro-nfs.yaml.gotmpl

  - name: hermes-agent
    namespace: hermes
    createNamespace: true
    chart: ./charts/hermes-agent
    values:
      - values/hermes-agent.yaml.gotmpl
    needs:
      - coder/platform

  - name: openclaw
    namespace: openclaw
    createNamespace: true
    chart: ./charts/openclaw
    values:
      - values/openclaw.yaml.gotmpl
    needs:
      - cert-manager/cert-manager
      - kube-system/micro-nfs

  - name: litellm
    namespace: litellm
    createNamespace: true
    chart: ./charts/litellm
    values:
      - values/litellm.yaml.gotmpl
    needs:
      - {{ .Values.postgresql.namespace }}/postgresql

  - name: bifrost
    namespace: bifrost
    createNamespace: true
    chart: ./charts/bifrost
    values:
      - values/bifrost.yaml.gotmpl
    needs:
      - kube-system/micro-nfs

  - name: system-patches
    namespace: kube-system
    chart: ./charts/system-patches

